  body{
    background-color: #F2F2F2;
  }
  .navbutton div{
    padding:15px;
    border-radius: 50px;
    background-color: #21252B;
    width:100%;
    padding:15px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 800;
    color:white;
    margin-bottom: 15px;
  }
  .navbutton div:hover{
    background-color: #343A40;
    transition: 0.3s;
  }
  .navlink{
    width:100%;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 800;
    color:#000;
  }
  .title h5{
    padding-left: 25px;
  }
  .hello{
    text-align: right;
  }
  .sidenav{
    border-right: 1px solid grey;
  }
  .customcontent{
    padding-left: 5rem;
  }
  .labbutton div{
    padding:15px;
    border-radius: 25px;
    width:100%;
    height: 10em;
    padding:25px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 800;
    background-color: #fff;
    color:#000;
    margin-bottom: 15px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    }
  .labbutton div:hover{
    box-shadow: 0 0 0.5pt 0.5pt #21252B,
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    color:#000;
    transition: 0.1s;
  }
  .headernav{
    background-color: #21252B;
    color:#fff;
    height:3.6em;
    padding-top: 1em;
  }
  .page-title h3{
    font-weight: 800;
  }
  .sub-page-title h5{
    font-weight: 800;
  }
  .pending-exp{
    color:#FF4606;
    text-decoration: underline;
  }
  .completed-exp{
    color:#039313;
    text-decoration: underline;
  }
  .prevlabslink{
    float:right;
  }
  .prevlabslink{
    font-size: 20px;
    font-weight: 800;
    color:#21252B;
    text-decoration: underline;
  }
